#messagewrapper {
    position: fixed;
    top: 0px;
    right: 10px;
    z-index: 10000;
    margin: 5px auto;
    /*width: 500px;*/
}

    #messagewrapper .messagebox {
        /*padding: 12px 10px 10px 30px;*/
        box-shadow: 5px 5px 10px #000;
    }

    #messagewrapper .success {
        color: #060;
        background: #cfc url(sessionmessage/Images/ok.gif) no-repeat 8px 12px !important;
    }

    #messagewrapper .info {
        color: #06f;
        background: #0df url(sessionmessage/Images/info.gif) no-repeat 8px 12px !important;
    }

    #messagewrapper .warning {
        color: #c60;
        background: #ffc url(sessionmessage/Images/warn.gif) no-repeat 8px 12px !important;
    }

    #messagewrapper .error {
        color: #c00;
        background: #fcc url(sessionmessage/Images/fail.gif) no-repeat 8px 12px !important;
    }

.messagebox.success {
    background: #cfc url(sessionmessage/Images/ok.gif) no-repeat 8px 12px !important;
    text-align: left;
    padding: 12px 10px 10px 30px !important;
}

.messagebox.info {
    background: #0df url(sessionmessage/Images/info.gif) no-repeat 8px 12px !important;
    text-align: left;
    padding: 12px 10px 10px 30px !important;
    font-size: 0.85em;
    font-weight: bold;
}

.messagebox.warning {
    background: #ffc url(sessionmessage/Images/warn.gif) no-repeat 8px 12px !important;
    text-align: left;
    padding: 12px 10px 10px 30px !important;
}

.messagebox.error {
    background: #fcc url(sessionmessage/Images/fail.gif) no-repeat 8px 12px !important;
    text-align: left;
    padding: 12px 10px 10px 30px !important;
}

.ui-dialog-content .messagebox.success {
    background: url(sessionmessage/Images/ok.gif) no-repeat 8px 12px !important;
    text-align: left;
    padding: 12px 10px 10px 30px !important;
}

.ui-dialog-content .messagebox.info {
    background: url(sessionmessage/Images/info.gif) no-repeat 8px 12px !important;
    text-align: left;
    padding: 12px 10px 10px 30px !important;
    font-size: 0.85em;
    font-weight: bold;
}

.ui-dialog-content .messagebox.warning {
    background: url(sessionmessage/Images/warn.gif) no-repeat 8px 12px !important;
    text-align: left;
    padding: 12px 10px 10px 30px !important;
}

.ui-dialog-content .messagebox.error {
    background: url(sessionmessage/Images/fail.gif) no-repeat 8px 12px !important;
    text-align: left;
    padding: 12px 10px 10px 30px !important;
}